.post-card {
    max-width: 450px;
    width: 100%;
    height: 530px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.post-card-logo img {
    height: 25px;
}

.post-card-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.post-card-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.post-card-form-input {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.post-card-form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 25px;
    width: 100%;
    padding-top: 10px;
}

.button-post {
    background: #569854 !important;
}

.button-post:hover {
    background: #569854e0 !important;
}

.MuiFormLabel-root.Mui-focused {
    color: #97C160 !important;
}

.MuiInput-underline:after {
    border-bottom: 2px solid #97C160 !important;
}