.cadastro-card {
    max-width: 450px;
    width: 100%;
    max-height: 570px;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
}

.cadastro-voltar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}