.button-deletar {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
    gap: 15px !important;
    padding-bottom: 25px !important;
}