@media screen and (max-width: 1024px) and (min-width: 769px) {

    .ecoshop-h1 {
        font-size: 100px !important;
    }
    
    .ecoshop-img {
        height: 100px !important;
    }
    
    .ecoshop-span {
        font-size: 25px !important;
        font-weight: bolder !important;
        color: #292729 !important;
    }
}

@media screen and (max-width: 768px) and (min-width: 551px){

    .section-home {
        padding: 40px !important;
    }

    .ecoshop-h1 {
        font-size: 80px !important;
    }

    .home-p2 {
        font-size: 15px !important;
    }
    
    .ecoshop-img {
        height: 80px !important;
    }
    
    .ecoshop-span {
        font-size: 20px !important;
        font-weight: bolder !important;
        color: #292729 !important;
    }

    .home-div2 {
        flex-wrap: wrap !important;
    }

    .ecoshop-img-sessao2 {
        display: none !important;
    }
}

@media screen and (max-width: 550px) {

    .section-home {
        padding: 30px !important;
    }

    .ecoshop-h1 {
        font-size: 50px !important;
    }

    .home-p2 {
        font-size: 15px !important;
    }
    
    .ecoshop-img {
        height: 50px !important;
    }
    
    .ecoshop-span {
        font-size: 15px !important;
        font-weight: bolder !important;
        color: #292729 !important;
    }

    .home-div2 {
        flex-wrap: wrap !important;
    }

    .ecoshop-img-sessao2 {
        display: none !important;
    }
}