@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Roboto:wght@300;400&display=swap');

footer {
    min-height: 30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background: rgb(224, 251, 185);
    background: whitesmoke;
    font-family: 'Roboto', sans-serif;
    gap: 40px;
    padding-top: 50px;
}

.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-ecoshop {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
    width: 300px;
}

.footer-ecoshop img {
    height: 25px;
}

.footer-p {
    font-size: 15px;
    text-align: center;
    line-height: 1.7em;
    color: black;
    transition: 0.3s;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.footer-ecoshop2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 300px;
}

.footer-ecoshop2-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  flex-start;
}

.footer-ecoshop2 h3 {
    padding-bottom: 10px;
}

.footer-ecoshop2 p:hover,  .footer-ecoshop3 p:hover{
    color: rgba(0, 0, 0, 0.600);
    transition: 0.3s;
}

.footer-ecoshop3 {
    padding-bottom: 30px;
}

