.primeira-coluna{
  background-color: #5a7f78;
  height: 100vh;
}

.informacoes-cadastro{
  padding-top: 50%;
  text-align: center;
}

.informacoes-cadastro h1{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.informacoes-cadastro p{
  margin: 13px !important;
  color: white;
  text-align: center;
}

.segunda-coluna{
  background-image: url(../../img/FundoTreco.png);
  background-repeat: no-repeat;
}
.formulario{
  padding: 15%;
}

.texto-formulario2{
  text-align: center
}
.color{
 color:  #5a7f78 !important;
}
.texto-input{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 10px !important;
}
.espacamento{
  padding-top: 15px;
}
.botao-cadastro{
  font-weight: bold !important;
  width: 50%;
  padding: 10px !important;
  border-radius: 30px !important;
}

.botao-cadastro:hover{
  background: white !important;
  color: black !important;
  border: none !important;
}

.teste{
  background: white;
  padding: 10%;
  box-shadow: 0 0 1em black;
  opacity: 0.9;
  border-radius: 20px;
}

.titulo-principal{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #5a7f78;
  padding-bottom: 20px;
}

.alinhamento-botao{
  padding-top: 15px;
  text-align: center;
}

.botao{
  padding: 10px !important;
  background: #5a7f78 !important;
  color: white !important;
  border: none !important;
  width: 50%;
 border-radius: 30px !important;
   font-weight: bold !important;
}

.botao:hover{
  background: black !important;
}