@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Roboto:wght@300;400&display=swap');

footer {
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(224, 251, 185);
    font-family: 'Paytone One', sans-serif;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.300);
    gap: 30px;
}

footer h2 {
    color: black;    
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.icons {
    font-size: 30px !important;
}