.img-missao{
    background-image: url(../../img/alvo.png);
}

.img-valor{
    background-image: url(../../img/valor.png);
}

.img-visao{
    background-image: url(../../img/visao-estrategica.png);
}

.img-protecao{
    background-image: url(../../img/protecao-ambiental.png);
}

.texto-card-centro{
    text-align: center;
}

.fundo-sessao{
    background: whitesmoke;
    padding-top: 8vh;
    min-height: 100vh;
}

.objetivos h1 {
    
    text-align: center;
    padding: 15px 0px;
    text-transform: uppercase;
}

.lista-objetivos {
    padding: 30px;
}

.lista-objetivos ul {
    padding: 10px 40px;
}

.lista-objetivos li {
    padding: 10px 0px;
    font-size: 16px;
}

.subtitulo h2 {
    text-align: center;
}

.cards {
    padding: 40px;
    display: flex;
    justify-content: space-between;
}